<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
      
      </div>
    </div>
    <div class="col-md-6">
      <h4>Admin List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let admin of admindetails; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveAdmin(admin, i)"
        >
          {{ admin.emailid }}
        </li>
      </ul>
  
      <!-- <button class="m-3 btn btn-sm btn-danger" (click)="removeAllAdmins()">
        Remove All
      </button> -->
    </div>
    <div class="col-md-6">
      <div *ngIf="currentAdmin">
        <h4>Admin</h4>
        <div>
          <label><strong>EmailID:</strong></label> {{ currentAdmin.emailid }}
        </div>
        <div>
          <label><strong>Password:</strong></label>
          {{ currentAdmin.password }}
        </div>        
  
        <!-- <button style="background-color: blue;" class="badge badge-warning" routerLink="/admindetails/{{ currentAdmin.id }}">
          Edit
        </button> -->
      </div>
  
      <div *ngIf="!currentAdmin">
        <br />
        <p>Please click on a Admin...</p>
      </div>
    </div>
  </div>
  