<div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <h2>Login</h2>
      <div *ngIf="!submitted">
        
        <div class="form-group">
          <label for="emailid">Enter Email</label>
          <input
            type="text"
            class="form-control"
            id="emailid"
            required
            [(ngModel)]="admin.emailid"
            name="emailid"
          />
        </div>
        <div class="form-group">
          <label for="password">Enter Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            required
            [(ngModel)]="admin.password"
            name="password"
          />
        </div>
        
  
          <button (click)="saveAdmin()" class="btn btn-success" style="margin-top: 5px;">Submit</button>
           
        
      </div>
  
      <div *ngIf="submitted">
        <h4>You submitted successfully!</h4>
        <button routerLink="admindetails" class="btn btn-success" >Admin Profile</button>
        <button routerLink="add" class="btn btn-success mx-3 my-2" >Add Employees</button>
        <button routerLink="employeedetails" class="btn btn-success mx-3 my-2" >Employee List</button>

      </div>
    </div>
  </div>
  
